body {
  background: url('../images/bg-1.jpg') no-repeat center center fixed;
  background-size: cover;

  h1 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
}

.post-list-card {
  background: transparent;
  border: none;
}

.post-list-title {
  color: #fff;
  margin-bottom: 2.5rem;
}

.card-img-top {
  height: 10rem;
  border-bottom: solid 1px;
}