{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="card post-list-card">
            <div class="card-body">
                <h1 class="text-center post-list-title">Post List</h1>
                <div class="row">
                    {% for post in posts %}
                        <div class="col-md-3">
                            <div class="card">
                                {% set src = 'uploads/' ~ post.image %}
                                <img class="card-img-top" src="{{ asset(src) }}" alt="Card image cap">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-9">
                                            <a href="{{ path('post_show', {'id' : post.id}) }}"><h3>{{ post.title }}</h3></a>
                                        </div>
                                        {% if post.author == app.user or (is_granted('ROLE_ADMIN')) %}
                                            <div class="col-md-3">
                                                <a href="{{ path('post_edit', {'id' : post.id}) }}" class="ml-auto"><i class="fas fa-edit"></i></a>
                                                <a href="{{ path('post_delete', {'id' : post.id}) }}" class="ml-auto"><i class="fas fa-trash-alt"></i></a>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p class="card-text">{{ post.author.username }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
