{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
            <div class="card">
                <div class="card-body">
                    <h3>New Post</h3>
                    {{ form_start(form, {'attr': {'novalidate' : 'novalidate'} }) }}
                    {{ form_widget(form) }}
                    <button class="btn btn-primary">Add New Post</button>
                    <a href="{{ path('post_index') }}" class="btn btn-danger">Back to the list</a>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
