{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-10 ml-auto mr-auto">
            <div class="card">
                <div class="card-body">
                    <div class="media">
                        {% set src = 'uploads/' ~ post.image %}
                        <img class="mr-3" src="{{ asset(src) }}" alt="Generic placeholder image">
                        <div class="media-body">
                            <h5 class="mt-0">{{ post.title }}</h5>
                            {{ post.content }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
